page-login {
  .slide-title {
    margin-top: 2rem;
    text-align: center;
    font-family: NanumPen;
    font-size: 27px;
    color: #fff;
    text-shadow: 0px 0px 5px #000000;
  }
  .bg{
    background-image: url('../assets/img/tutobg.jpg');
    background-size: cover;
  }
  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }
}
.img_add {
  border:1px solid gray;
  margin-bottom: 8px;
}
