page-login {
  .slide-title {
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
    font-family: BM JUA;
    color: #505050;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }
}
.img_add {
  border:1px solid gray;
  margin-bottom: 8px;
}
