<ion-header>
  <ion-navbar>
    <ion-buttons end *ngIf="pageType==0">
      <button ion-button (click)=dismiss()>
      <ion-icon name="close"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>내가 지켜보는 고양이</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <button ion-item detail-none *ngFor="let cat of cats" (click)="selectCat(cat)">
      <ion-avatar item-left>
        <img style="height: 4.6rem; width: 4.6rem;" src="{{cat.avatar}}">
      </ion-avatar>
      <span class="mainName">{{cat.name}} </span> <br>
      <span class="habitat">{{cat.habitat}} /</span><span class="info"> {{cat.info1}}</span>
      <div item-right *ngIf="pageType==0">
        <ion-icon name="heart" color="OrangeCat2"></ion-icon>
        <span class="select">선택</span>
      </div>
      <div item-right *ngIf="pageType==1">
        <ion-icon name="ios-arrow-forward" class="arrow"></ion-icon>
      </div>
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
