page-add-cat {
  .con{
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 1.7rem;
    font-weight: 500;
    color:#1b1b1b;
  }
  .cat_add {
    margin-top: 0px;
    border:2px solid #cccccc;
    margin-bottom: 2px;
  }
  .photo_add {
    margin-top: 9px;
    border:3px solid #cccccc;
    margin-bottom: 8px;
    margin-left: 8px;
  }
  .btnCenter{
    text-align: center;
  }
  .pa{
    padding-left: 9px;
  }
  .grey{
    background-color:#f5f5f5;
  }
  .title_bar{
    padding-top: 4px;
    padding-left: 17px;
    padding-right: 2px;
    padding-bottom: 4px;
    background-color:#f5f5f5;
    font-size: 1.4rem;
  }
  .title_bar_text{
    padding-top: 16px;
    padding-left: 18px;
    padding-right: 16px;
    padding-bottom: 17px;
    background-color:#f5f5f5;
    font-size: 1.4rem;
  }
  .title_bar1{
    padding-top: 4px;
    padding-left: 16px;
    padding-right: 2px;
    padding-bottom: 4px;
    background-color:#f5f5f5;
    font-size: 1.4rem;
  }
  .title_bar2{
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 0px;
    padding-bottom: 4px;
    background-color:#f5f5f5;
    font-size: 1.4rem;
  }
  .title_bar3{
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 1px;
    padding-bottom: 4px;
    background-color:#f5f5f5;
    font-size: 1.4rem;
  }
  .bg{
    background-color:#f5f5f5;
  }
  .arrow{
    margin-left: 3px;
    margin-right: 3px;
    font-size: 14px;
    color: #ffc10a;
    vertical-align: -2px;
  }
  .iconSpan{
    margin-left: 6px;
    font-size: 14px;
    color: #ffc929;
  }
  .iconSpan2{
    margin-left: 6px;
    font-size: 14px;
    color: #c7c7c7;
  }
  .img_addcat {
    border:2px solid #cccccc;
    margin-bottom: 8px;
  }
  .border_left2{
    margin-left: 6px;
  }
  .border_left{
    margin-left: 4px;
  }
  .border_right{
    margin-left: 0px;
  }
  .Btn{
  width: 96%;
  margin-top:0px;
  margin-right:0px;
  margin-bottom: 6px;
  border-width : thin;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 1px 1px 3px #c2c2c2;
  padding: 8px;
  color:#373737;
  margin-bottom: 6px;
}
  .center_avatar{
    display: flex;
    flex-direction: column;    /* align flex items vertically */
    justify-content: center;   /* center items vertically, in this case */
    align-items: center;       /* center single-line items horizontally, in this case */
    align-content: center;     /* center multi-line items horizontally, in this case */
  }

}
