page-reply {
  .username{
    font-size : 1.4rem;
    color :#1d1d1d;
    font-weight: 500;
  }
  .content{
    font-size: 1.3rem;
    color:#333333;
    //font-weight: 500;
  }
  .avatar {
    border:1px solid #d9d9d9;
  }
  .time {
    font-size: 11px;
    color : #7c7c7c;
  }
}
