.d_mainName{
  font-size : 2rem;
  color :#212121;
  font-weight: 600;
}
.d_subName{
  font-size: 1.5rem;
  color: #9e9e9e;
  font-weight: 500;
}
.d_people{
  font-size: 1.8rem;
  color:#212121;
}
.d_title{
  font-size: 1.6rem;
  color:#424242;
  font-weight: 500;
}
.d_content{
  font-size: 1.4rem;
  color:#424242;
}
