<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>사진 편집</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--
  <img #imageSrc id="cimg"/>-->
  <img *ngIf="images.length==1" #imageSrc>
  <ion-slides pager *ngIf="images.length>1">
    <ion-slide *ngFor="let image of images" class="slide-bg">
      <img #imageSrc />
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="grey">
      <ion-row *ngIf="images.length>1">
        <ion-col>
          <button ion-item no-lines detail-none class="crop_footer" (click)="toLeft()">
            <span class="c_arrow"><ion-icon name="arrow-round-back"></ion-icon></span> 이전
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-item no-lines detail-none class="crop_footer" (click)="cropDone()">
            완료
            <span class="c_arrow"><ion-icon name="paw"></ion-icon></span>
          </button>
        </ion-col>
        <ion-col>
          <button ion-item no-lines detail-none class="crop_footer" (click)="toRight()">
            다음
            <span class="c_arrow"><ion-icon name="arrow-round-forward"></ion-icon></span>
          </button>
        </ion-col>
      </ion-row>
    <button ion-item no-lines detail-none class="crop_footer" *ngIf="images.length==1" (click)="cropDone()">
    완료
    <span class="c_arrow"><ion-icon name="paw"></ion-icon></span>
    </button>
    </div>
  </ion-toolbar>

</ion-footer>
