<ion-header>
  <ion-navbar>
    <ion-title *ngIf="pageType!=1" text-center><img src="assets/img/title1_s.png" height="32rem"></ion-title>
    <ion-title *ngIf="pageType==1">게시글</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="pageType!=1">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let feed of feeds" class="home_card">
    <ion-item>
      <div class="icons" item-start>
          <ion-row>
            <ion-col>
              <ion-avatar>
                <img class="catIcon" src="{{feed.catImg}}" (click)="getCat(feed.cat_seq)">
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-avatar>
                <img class="userIcon" src="{{feed.userImg}}" (click)="openOtherUserPage(feed.user_seq)">
              </ion-avatar>
            </ion-col>
          </ion-row>
      </div>
      <div class="namebar">
        <h2><span (click)="getCat(feed.cat_seq)">{{feed.catName}}</span> / <span (click)="openOtherUserPage(feed.user_seq)">{{feed.userName}}</span></h2>
        <p class="date">{{feed.create_date}}</p>
      </div>
      <div class="icons2" item-end>
        <button ion-button color="LightGrayCat" clear icon-only
        (click)="openPopover(feed)">
          <ion-icon name="more" style="zoom:1.3;"></ion-icon>
        </button>
      </div>
    </ion-item>
    <img *ngIf="feed.imgUrl.length==1" src="{{serverURL+feed.imgUrl[0]}}">
    <ion-slides *ngIf="feed.imgUrl.length>1" pager>
      <ion-slide *ngFor="let imgUrl of feed.imgUrl">
        <img src="{{serverURL+imgUrl}}">
      </ion-slide>
    </ion-slides>
    <div class="likebar">
      <ion-row>
        <ion-col text-center (click)="Like(feed)">
          <button ion-button color="GrayCat" clear small icon-left *ngIf="feed.isLiked==false" class="buttonText">
            <ion-icon name='heart'></ion-icon>
            케첩
          </button>
          <button ion-button color="GrayCat" clear small icon-left *ngIf="feed.isLiked==true" class="buttonText">
            <ion-icon class="liked" name='heart'></ion-icon>
            케첩
          </button>
        </ion-col>
        <ion-col text-center (click)="openReplyPage(0, feed)">
          <button ion-button color="GrayCat" clear small icon-left class="buttonText">
            <ion-icon name='text'></ion-icon>
            댓글
          </button>
        </ion-col>
        <ion-col text-center (click)="share(feed)">
          <button ion-button color="GrayCat" clear small icon-left class="buttonText">
            <ion-icon name='share-alt'></ion-icon>
            공유
          </button>
        </ion-col>
      </ion-row>
    </div>
    <ion-card-content class="card_content">
      <div *ngIf="feed.content.length!=feed.content_preview.length && feed.content_more == false">
        <p class="content_text">{{feed.content_preview}}...<span class="more"(click)="content_more(feed)"> more</span></p>
      </div>
      <div *ngIf="feed.content.length==feed.content_preview.length || feed.content_more==true">
        <p class="content_text">{{feed.content}}</p>
      </div>
        <p class="infobar"><span (click)="openLikeList(feed.wr_seq)">케첩 {{feed.likeCount}}명</span><span *ngIf="feed.replyCount>0" (click)="openReplyPage(0, feed)"> · 댓글 {{feed.replyCount}}개</span></p>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="more==true">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
