//@import url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css');
page-home {
  .home{
    background-color: #eeeeee;
  }
  .likebar{
    padding-top: 2px;
  }
  .infobar{
    font-size: 13px;
    color : #777777;
    font-family: 'BMJUA';
    padding-top: 3px;
    right: 15px;
    position: absolute;
  }
  .date{
    font-size: 11px;
  }
  .card_content {
    margin-top: 0;
    padding-top: 3px;
    margin-bottom: 23px;
  }
  .content_text {
    white-space: pre-line;
    font-size: 1.5rem;
  }
  .buttonText{
    font-size: 14px;
  }
  .namebar {
    position: relative;
  }
  .userIcon {
    border: 1px solid #c1c1c1;
    margin-left: 3px;
    margin-right: 5px;
  }
  .catIcon {
    border: 1px solid #c1c1c1;
  }
  .more{
    color: #ffba0a;
    font-weight: 400;
  }

  .swiper-pagination {
    padding: 3px;
    bottom: 0;

    .swiper-pagination-bullet {
      background: #FFF;
      margin: 0 3px;
      box-shadow: 1px 1px 3px #595959;
    }
  }
}
.toast{
  text-align:center;
}
.liked {
  color : #de5b5b;
  font-size: 15px;
}
