// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  YellowCat:  #ffca28,
  LightGrayCat : #a1a1a1,
  LightGrayCat2: #b3b3b3,
  LightGrayCat3 :#d9d9d9,
  GrayCat: #616161,
  GrayCat2 : #707070,
  AmberCat :#ffab00,
  SkyCat: #02c4fa,
  BarunSkyCat : #02b8f9,
  DarkSkyCat : #0b5e7c,
  DarkBrownCat : #49322c,
  OrangeCat : #ff5a00,
  OrangeCat2 : #ff8200,
  ySKyCat : #6bc6d3,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Change #000 to any color to see the md text color change
$text-md-color:                           #000;


// Use the primary color as the background for the toolbar-md-background
//$toolbar-md-background:                   color($colors, primary);


// Use the default background for the tabbar since it inherits from toolbar
$tabs-md-background:                      #f8f8f8;


// Change the color of the tabs text
$tabs-tab-color-active:                color($colors, YellowCat);
$tabs-tab-color-inactive:              color($colors, GrayCat2);
$tabs-md-tab-color-inactive:            color($colors, GrayCat2);
//$tabs-md-tab-color:                       rgba(#8c8c8c, 0.7);


//탭 아이콘 크기
$tabs-md-tab-icon-size:                  2.8rem;

/*
// Change the color of the segment button text
$toolbar-md-active-color:                 #fff;
$toolbar-md-inactive-color:               #fff;
$segment-button-md-text-color-activated:  #fff;
*/

//툴바 크기
$toolbar-md-height: 5.4rem;
//$toolbar-md-button-font-size: 1.8rem; //아이콘크기
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


//카드 IOS
$card-ios-avatar-size: 5rem;
$card-ios-border-radius: 0px;
$card-ios-margin-top: 0px;
$card-ios-margin-left: 0px;
$card-ios-margin-right: 0px;

//카드 MD
$card-md-avatar-size: 5rem;
$card-md-border-radius: 0px;
$card-md-margin-top: 0px;
$card-md-margin-left: 0px;
$card-md-margin-right: 0px;
$card-md-line-height: 5;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
