page-post {
  .post_content {
  //  padding-top: 0px;
  //  padding-left: 12px;
  //  padding-right: 12px;
    margin-top: 0px;
    line-height: 1.5;
    font-family: IropkeBatang;
    font-size:18px;
  }
}
