<ion-header>
  <ion-navbar>
    <ion-title>
      Cat News
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <button ion-item no-lines detail-none class="news_title_bar" (click)="openPostPage()">
      캐츠업 소식
      <span item-right class="arrow"><ion-icon name="ios-arrow-forward"></ion-icon></span>
    </button>
    <div class="post">
      <ion-slides pager>
        <ion-slide *ngFor="let post of posts" (click)="openThisPost(post)">
          <img class="post_img" src="{{post.image_url}}">
          <div class="card-title">{{post.title}}</div>
        </ion-slide>
      </ion-slides>
    </div>
  <button ion-item no-lines detail-none class="news_title_bar" (click)="openNewsPage()">
      기사
      <span item-right class="arrow"><ion-icon name="ios-arrow-forward"></ion-icon></span>
    </button>
    <div class="pins">
      <div class="pin" *ngFor="let newsItem of news" (click)="openThisNews(newsItem)">
        <img class="news_img" [src]="newsItem.image_url"/>
        <div class="news_title">
          {{newsItem.title}}
        </div>
      </div>
    </div>
    <button ion-item no-lines detail-none class="news_title_bar" (click)="openDiscussionPage()">
       토론 & 토의
        <span item-right class="arrow"><ion-icon name="ios-arrow-forward"></ion-icon></span>
      </button>
</ion-content>
