
page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }
  .bg{
    background-color: #f8f8f8;
  }

  .slide-zoom {
    height: 100%;
  }
  .slide-title {
    margin-top: 2.8rem;
  }
  .iconImg{
  }
  .str{
    margin-top: 41%;
    margin-bottom: 4px;
    font-family: NanumPen;
    font-size: 30px;
    color: #fff;
    text-shadow: 0px 0px 5px #000000;
  }
  .btn{
    font-family: NanumPen;
    font-size: 30px;
    color: #fff;
    text-shadow: 0px 0px 5px #000000;
  }
  .slideImg1{
    background-image: url('../assets/img/tuto1.jpg');
    background-size: cover;
  }
  .slideImg2{
    background-image: url('../assets/img/tuto2.jpg');
    background-size: cover;
  }
  .slideImg3{
    background-image: url('../assets/img/tuto3.jpg');
    background-size: cover;
  }
  .slideBG{
    background-image: url('../assets/img/tutobg.jpg');
    background-size: cover;
  }
  .swiper-pagination {
    padding: 3px;
    bottom: 0;

    .swiper-pagination-bullet {
      background: #fff;
      margin: 0 3px;
      box-shadow: 1px 1px 3px #595959;
    }
  }
  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
