//page-write {
  .con{
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 1.7rem;
    font-weight: 500;
    color:#1b1b1b;
  }
  .cat_add {
    margin-top: 0px;
    border:2px solid #cccccc;
    margin-bottom: 2px;
  }
  .photo_add {
    margin-top: 9px;
    border:3px solid #cccccc;
    margin-bottom: 8px;
    margin-left: 8px;
  }
  .pa{
    padding-left: 9px;
  }
  .grey{
    background-color:#f5f5f5;
  }
  .title_bar{
    padding-top: 4px;
    padding-left: 17px;
    padding-right: 2px;
    padding-bottom: 4px;
    background-color:#f5f5f5;
    font-size: 1.4rem;
  }
  .title_bar_text{
    padding-top: 16px;
    padding-left: 18px;
    padding-right: 16px;
    padding-bottom: 17px;
    background-color:#f5f5f5;
    font-size: 1.4rem;
  }
  .title_bar1{
    padding-top: 4px;
    padding-left: 16px;
    padding-right: 2px;
    padding-bottom: 4px;
    background-color:#f5f5f5;
    font-size: 1.4rem;
  }
  .title_bar2{
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 0px;
    padding-bottom: 4px;
    background-color:#f5f5f5;
    font-size: 1.4rem;
  }
  .title_bar3{
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 1px;
    padding-bottom: 4px;
    background-color:#f5f5f5;
    font-size: 1.4rem;
  }
  .arrow{
    margin-left: 4px;
    font-size: 14px;
    color: #ffc10a;
  }
  .iconSpan{
    margin-left: 6px;
    font-size: 14px;
    color: #ffc929;
  }
  .iconSpan2{
    margin-left: 6px;
    font-size: 14px;
    color: #c7c7c7;
  }
//}
